In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
from google.colab import files
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
FILE_LINKS = {'companies': '/content/drive/MyDrive/TenderHack/companies.csv',
              'contracts': '/content/drive/MyDrive/TenderHack/contracts.csv',
              'participants': '/content/drive/MyDrive/TenderHack/participants.csv',
              'purchases': '/content/drive/MyDrive/TenderHack/purchases.csv'}

In [ ]:
df_contracts = pd.read_csv(FILE_LINKS['contracts'], sep=';')
df_contracts['contract_conclusion_date'][df_contracts.contract_conclusion_date <= '2017-01-01'] = np.nan
df_contracts = df_contracts.dropna(subset=['contract_conclusion_date'])
df_contracts.reset_index(drop=True, inplace=True)
df_contracts = df_contracts.drop(np.where(df_contracts['price'] <= 1)[0])

<ipython-input-17-4d51d21da7d4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_contracts['contract_conclusion_date'][df_contracts.contract_conclusion_date <= '2017-01-01'] = np.nan

In [ ]:
df_contracts.to_json('contracts.json', orient='records')

In [11]:
df_participants = pd.read_csv(FILE_LINKS['participants'], sep=';')
df_participants.head()
df_winner = df_participants[df_participants['is_winner'] == 'Да']
df_loser = df_participants[df_participants['is_winner'] == 'Нет']
df_participants = pd.concat([df_winner, df_loser])
df_participants.drop_duplicates(subset=['id', 'supplier_inn'])

                    id  supplier_inn is_winner
0        purch_9128253   10101705645        Да
1        purch_3909994   10101705645        Да
2        purch_3911066   10101705645        Да
3        purch_3911237   10101705645        Да
4        purch_3916302   10101705645        Да
...                ...           ...       ...
1756319  purch_9139871  990103133808       Нет
1756320  purch_9226742  990103133808       Нет
1756321  purch_9228333  990103133808       Нет
1756324  purch_8992052  990116467452       Нет
1756325  purch_8946188  990199065793       Нет

[1756326 rows x 3 columns]

In [13]:
df_participants.to_json('participants_distinct.json', orient='records')

In [15]:
df_companies = pd.read_csv(FILE_LINKS['companies'], sep=';')

In [16]:
df_companies.to_json('companies.json', orient='records')

In [17]:
df_purchases = pd.read_csv(FILE_LINKS['purchases'], sep=';')
df_purchases.rename(columns = {'price':'start_price'}, inplace = True )

In [18]:
df_purchases.to_json('purchases.json', orient='records')